//
   Created by Banzai on 20/06/15.

extends layout
block content
    .container
        h1 About Us
        p There was once a girl called Jackie. She liked to eat the best chocolates in the whole world but sometimes she was naughty and would only eat them before lunch
        ul
            li Once there was a girl
            li Once there was a boy
            li Once the was a group of people
        p When the human race died out, it would be millions of years before a similar race with intelligence roamed the Universe again